auto-install-peers=true
node-linker=hoisted
strict-peer-dependencies=false
shamefully-hoist=true
ignore-scripts=false
prefer-symlinked-executables=false
bin-links=true
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
resolution-mode=highest
